################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Release/SearchHighlightedText.exe.config
/bin/Release/SearchHighlightedText.pdb
/obj/Release
